@use "../styles/theme.scss";

.root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  color: var(--text-header);
}

.page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .logo {
    min-width: 40%;
    max-width: 10rem;
    margin-bottom: 1.5rem;
  }

  .page_content {
    width: 100%;
  }

  .theming {
    position: fixed;
    top: 4%;
    right: 2%;
  }
}

@media screen and (max-width: 425px) {
  .page {
    width: 80%;
  }
}

.onboarding {
  display: flex;
  flex-flow: column nowrap;

  & > div,
  button {
    margin-bottom: 1.2rem;
  }

  & > p {
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
  }
}

.login {
  display: flex;
  flex-flow: column nowrap;

  form > div,
  button {
    margin-bottom: 1.2rem;
  }

  & > p {
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
  }
}

.register {
  display: flex;
  flex-flow: column nowrap;

  & > div,
  button {
    margin-bottom: 1.2rem;
  }

  & > p {
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
  }
}
