@use "../styles/theme.scss";

.root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  color: var(--text-header);
}

.page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .logo {
    min-width: 40%;
    max-width: 10rem;
    margin-bottom: 1.5rem;
  }

  .page_content {
    width: 100%;
  }

  .theming {
    margin-top: 1.5rem;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    border-top: 0.1rem solid var(--text-header);
    padding-top: 1rem;

    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 425px) {
  .page {
    width: 80%;
  }
}

.onboarding {
  display: flex;
  flex-flow: column nowrap;

  & > div,
  button {
    margin-bottom: 1.2rem;
  }

  & > p {
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
  }
}
