@import "theme.scss";

$color-primary: rgba(0, 0, 0, 1);
$color-brand-emphasis: rgba(0, 144, 255, 1);
$color-header: rgba(27, 37, 89, 1);
$color-graph-empty: rgba(217, 221, 232, 1);
$color-secondary: rgba(255, 255, 255, 1);
$color-bg-dark: rgb(17, 24, 39);

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sf Pro Rounded", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: light) {
  :root {
    --text-header: rgb(0, 0, 0);
    --text-subheader: rgb(51, 70, 167);
    --text-active: $color-brand-emphasis;

    background-color: "#ffffff";
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-header: white;
    --text-subheader: rgb(0, 144, 255);
    --text-active: $color-brand-emphasis;

    background-color: $color-bg-dark;
  }
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100vw;
}

body > :nth-child(1) {
  width: 100%;
  height: 100vh;
  max-width: 1280px;
}

@import "./components/icons/animation.css";
@import "./components/icons/verifier.css";
