.root {
  width: 100%;
  height: 100%;
  display: flex;

  .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page {
    width: 80%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    h1 {
      all: unset;
    }

    .controls {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 1280px) {
  .page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.profile {
  width: 2.1rem;
  height: 2.1rem;
  background: #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.theme_switcher {
  font-size: 1.5rem;
  margin-right: 0.8rem;
}
