.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.sidebar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;

  cursor: pointer;

  h3 {
    all: unset;
  }

}

@media screen and (max-width: 425px) {
  .root {
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 100%;
    width: 60%;
  }
  .sidebar_item {
    font-size: 1.5rem;
    h3 {
      display: none;
    }
  }
}